<img src='https://weclouddata.com/wp-content/uploads/2016/11/logo.png' width='30%'>
-------------

<h3 align='center'> Machine Learning Hands-on Workshop </h2>
<h1 align='center'> Home Credit Default Risk Kaggle Competition </h1>

<br>
<center align="left"> <h4>Presentened by:</h4> </center>
<center align="left"> <h4>Vanessa Feng, WeCloudData Academy</h4> </center>

----------

[Home Credit Default Risk Kaggle Competition](https://www.kaggle.com/c/home-credit-default-risk) Can you predict how capable each applicant is of repaying a loan?

# Content:
- [Problem analysis](#Problem-analysis)
- [Methodologies](#Methodologies)
    - [Building blocks of a Machine Learning algorithm](#Building-blocks-of-a-Machine-Learning-algorithm)
    - [Attempt 1](#Attempt-1)
        - [Data preparation](#Data-preparation)
        - [Model training](#Model-training)
        - [Model evaluation](#Model-evaluation)
        - [Cross validation](#Cross-validation)
        - [Model tuning](#Model-tuning)
        - [Test data prediction](#Test-data-prediction)
    - [Attempt 2](#Attempt-2)
        - [Data preparation: multiple datasets](#Data-preparation:-multiple-datasets)
- [Model deployment](#Model-deployment)

# Problem analysis
### Understand the problem
Read the competition overview at https://www.kaggle.com/c/home-credit-default-risk#description.
We are trying to predict whether each credit applicant is going to have payment difficulty or not.

### Understand the data
Read the dataset description at https://www.kaggle.com/c/home-credit-default-risk/data.

In [2]:
# get a peak into the data files using shell command
!head -n 10 data/installments_payments.csv

SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
1054186,161674,1.0,6,-1180.0,-1187.0,6948.36,6948.36
1330831,151639,0.0,34,-2156.0,-2156.0,1716.525,1716.525
2085231,193053,2.0,1,-63.0,-63.0,25425.0,25425.0
2452527,199697,1.0,3,-2418.0,-2426.0,24350.13,24350.13
2714724,167756,1.0,2,-1383.0,-1366.0,2165.04,2160.585
1137312,164489,1.0,12,-1384.0,-1417.0,5970.375,5970.375
2234264,184693,4.0,11,-349.0,-352.0,29432.295,29432.295
1818599,111420,2.0,4,-968.0,-994.0,17862.165,17862.165
2723183,112102,0.0,14,-197.0,-197.0,70.74,70.74

In [3]:
# get a peak into the data files using pandas
import pandas as pd
filename = 'data/application_train.csv'
df = pd.read_csv(filename)
df.head(20) # print out the first 20 rows

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0

In [4]:
print(df.dtypes) # check the data type of each column

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
FLAG_OWN_REALTY                object
CNT_CHILDREN                    int64
AMT_INCOME_TOTAL              float64
AMT_CREDIT                    float64
AMT_ANNUITY                   float64
AMT_GOODS_PRICE               float64
NAME_TYPE_SUITE                object
NAME_INCOME_TYPE               object
NAME_EDUCATION_TYPE            object
NAME_FAMILY_STATUS             object
NAME_HOUSING_TYPE              object
REGION_POPULATION_RELATIVE    float64
DAYS_BIRTH                      int64
DAYS_EMPLOYED                   int64
DAYS_REGISTRATION             float64
DAYS_ID_PUBLISH                 int64
OWN_CAR_AGE                   float64
FLAG_MOBIL                      int64
FLAG_EMP_PHONE                  int64
FLAG_WORK_PHONE                 int64
FLAG_CONT_MOBILE                int64
FLAG_PHONE                      int64
FLAG_EMAIL                      int64
OCCUPATION_TYPE                object
CNT_FAM_MEMBERS               float64
                               ...
DEF_30_CNT_SOCIAL_CIRCLE      float64
OBS_60_CNT_SOCIAL_CIRCLE      float64
DEF_60_CNT_SOCIAL_CIRCLE      float64
DAYS_LAST_PHONE_CHANGE        float64
FLAG_DOCUMENT_2                 int64
FLAG_DOCUMENT_3                 int64
FLAG_DOCUMENT_4                 int64
FLAG_DOCUMENT_5                 int64
FLAG_DOCUMENT_6                 int64
FLAG_DOCUMENT_7                 int64
FLAG_DOCUMENT_8                 int64
FLAG_DOCUMENT_9                 int64
FLAG_DOCUMENT_10                int64
FLAG_DOCUMENT_11                int64
FLAG_DOCUMENT_12                int64
FLAG_DOCUMENT_13                int64
FLAG_DOCUMENT_14                int64
FLAG_DOCUMENT_15                int64
FLAG_DOCUMENT_16                int64
FLAG_DOCUMENT_17                int64
FLAG_DOCUMENT_18                int64
FLAG_DOCUMENT_19                int64
FLAG_DOCUMENT_20                int64
FLAG_DOCUMENT_21                int64
AMT_REQ_CREDIT_BUREAU_HOUR    float64
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [5]:
# understand the target distribution (raw count)
df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()

        SK_ID_CURR
TARGET
0           282686
1            24825

In [6]:
# understand the target distribution (ratio)
df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()/df.shape[0]

        SK_ID_CURR
TARGET
0         0.919271
1         0.080729

#### Data files relationship
<img src='dataset.png' width='100%'>

<hr></hr>

# Methdologies

## Building blocks of a Machine Learning algorithm
<img src='training.png' width='80%'>

<hr></hr>
    
### Phase 2: validation time

<img src='validation.png' width='80%'>

## Attempt 1
Use one single dataset, basic feature extraction, and a single model to begin with.

### Data preparation

In [15]:
# Use `application_{train|test}.csv` only
# Take a look at the data fields in this file
filename = 'data/HomeCredit_columns_description.csv'
desc_df = pd.read_csv(filename, encoding = "ISO-8859-1")
desc_df[desc_df['Table'] == 'application_{train|test}.csv']

,Unnamed: 0,Table,Row,Description,Special
0,1,application_{train|test}.csv,SK_ID_CURR,ID of loan in our sample,NaN
1,2,application_{train|test}.csv,TARGET,Target variable (1 - client with payment diffi...,NaN
2,5,application_{train|test}.csv,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
3,6,application_{train|test}.csv,CODE_GENDER,Gender of the client,NaN
4,7,application_{train|test}.csv,FLAG_OWN_CAR,Flag if the client owns a car,NaN
5,8,application_{train|test}.csv,FLAG_OWN_REALTY,Flag if client owns a house or flat,NaN
6,9,application_{train|test}.csv,CNT_CHILDREN,Number of children the client has,NaN
7,10,application_{train|test}.csv,AMT_INCOME_TOTAL,Income of the client,NaN
8,11,application_{train|test}.csv,AMT_CREDIT,Credit amount of the loan,NaN
9,12,application_{train|test}.csv,AMT_ANNUITY,Loan annuity,NaN
10,13,application_{train|test}.csv,AMT_GOODS_PRICE,For consumer loans it is the price of the good...,NaN
11,14,application_{train|test}.csv,NAME_TYPE_SUITE,Who was accompanying client when he was applyi...,NaN
12,15,application_{train|test}.csv,NAME_INCOME_TYPE,"Clients income type (businessman, working, mat...",NaN
13,16,application_{train|test}.csv,NAME_EDUCATION_TYPE,Level of highest education the client achieved,NaN
14,17,application_{train|test}.csv,NAME_FAMILY_STATUS,Family status of the client,NaN
15,18,application_{train|test}.csv,NAME_HOUSING_TYPE,What is the housing situation of the client (r...,NaN
16,19,application_{train|test}.csv,REGION_POPULATION_RELATIVE,Normalized population of region where client l...,normalized
17,20,application_{train|test}.csv,DAYS_BIRTH,Client's age in days at the time of application,time only relative to the application
18,21,application_{train|test}.csv,DAYS_EMPLOYED,How many days before the application the perso...,time only relative to the application
19,22,application_{train|test}.csv,DAYS_REGISTRATION,How many days before the application did clien...,time only relative to the application
20,23,application_{train|test}.csv,DAYS_ID_PUBLISH,How many days before the application did clien...,time only relative to the application
21,24,application_{train|test}.csv,OWN_CAR_AGE,Age of client's car,NaN
22,25,application_{train|test}.csv,FLAG_MOBIL,"Did client provide mobile phone (1=YES, 0=NO)",NaN
23,26,application_{train|test}.csv,FLAG_EMP_PHONE,"Did client provide work phone (1=YES, 0=NO)",NaN
24,27,application_{train|test}.csv,FLAG_WORK_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
25,28,application_{train|test}.csv,FLAG_CONT_MOBILE,"Was mobile phone reachable (1=YES, 0=NO)",NaN
26,29,application_{train|test}.csv,FLAG_PHONE,"Did client provide home phone (1=YES, 0=NO)",NaN
27,30,application_{train|test}.csv,FLAG_EMAIL,"Did client provide email (1=YES, 0=NO)",NaN
28,31,application_{train|test}.csv,OCCUPATION_TYPE,What kind of occupation does the client have,NaN
29,32,application_{train|test}.csv,CNT_FAM_MEMBERS,How many family members does client have,NaN
...,...,...,...,...,...
92,95,application_{train|test}.csv,DEF_30_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
93,96,application_{train|test}.csv,OBS_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
94,97,application_{train|test}.csv,DEF_60_CNT_SOCIAL_CIRCLE,How many observation of client's social surrou...,NaN
95,98,application_{train|test}.csv,DAYS_LAST_PHONE_CHANGE,How many days before application did client ch...,NaN
96,99,application_{train|test}.csv,FLAG_DOCUMENT_2,Did client provide document 2,NaN
97,100,application_{train|test}.csv,FLAG_DOCUMENT_3,Did client provide document 3,NaN
98,101,application_{train|test}.csv,FLAG_DOCUMENT_4,Did client provide document 4,NaN
99,102,application_{train|test}.csv,FLAG_DOCUMENT_5,Did client provide document 5,NaN
100,103,application_{train|test}.csv,FLAG_DOCUMENT_6,Did client provide document 6,NaN
101,104,application_{train|test}.csv,FLAG_DOCUMENT_7,Did client provide document 7,NaN
102,105,application_{train|test}.csv,FLAG_DOCUMENT_8,Did client provide document 8,NaN
103,106,application_{train|test}.csv,FLAG_DOCUMENT_9,Did client provide document 9,NaN
104,107,application_{train|test}.csv,FLAG_DOCUMENT_10,Did client provide document 10,NaN
105,108,application_{train|test}.csv,FLAG_DOCUMENT_11,Did client provide document 11,NaN
106,109,application_{train|test}.csv,FLAG_DOCUMENT_12,Did client provide document 12,NaN
107,110,application_{train|test}.csv,FLAG_DOCUMENT_13,Did client provide document 13,NaN
108,111,application_{train|test}.csv,FLAG_DOCUMENT_14,Did client provide document 14,NaN
109,112,application_{train|test}.csv,FLAG_DOCUMENT_15,Did client provide document 15,NaN
110,113,application_{train|test}.csv,FLAG_DOCUMENT_16,Did client provide document 16,NaN
111,114,application_{train|test}.csv,FLAG_DOCUMENT_17,Did client provide document 17,NaN
112,115,application_{train|test}.csv,FLAG_DOCUMENT_18,Did client provide document 18,NaN
113,116,application_{train|test}.csv,FLAG_DOCUMENT_19,Did client provide document 19,NaN
114,117,application_{train|test}.csv,FLAG_DOCUMENT_20,Did client provide document 20,NaN
115,118,application_{train|test}.csv,FLAG_DOCUMENT_21,Did client provide document 21,NaN
116,119,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_HOUR,Number of enquiries to Credit Bureau about the...,NaN
117,120,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_DAY,Number of enquiries to Credit Bureau about the...,NaN
118,121,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_WEEK,Number of enquiries to Credit Bureau about the...,NaN
119,122,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_MON,Number of enquiries to Credit Bureau about the...,NaN
120,123,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_QRT,Number of enquiries to Credit Bureau about the...,NaN
121,124,application_{train|test}.csv,AMT_REQ_CREDIT_BUREAU_YEAR,Number of enquiries to Credit Bureau about the...,NaN

In [16]:
# the target distribution of the entire dataset
def get_target_dist(df):
    rows = df.shape[0]
    target_dist_df = df[['SK_ID_CURR', 'TARGET']].groupby('TARGET').count()
    target_dist_df['PERCENT'] = target_dist_df['SK_ID_CURR']*100/rows
    return target_dist_df

In [17]:
# let's check the target distribution across the entire dataset
train_df = pd.read_csv(filename)
rows = train_df.shape[0] # total number of rows in the data
# print(f'total rows: {rows}')
print(get_target_dist(train_df))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x85 in position 59: invalid start byte

In [12]:
# let's just use a subset of this dataset by reading the first 10000 rows
train_df = pd.read_csv(filename, nrows=10000)
rows = train_df.shape[0] # total number of rows in the data
print(f'total rows: {rows}')

SyntaxError: invalid syntax (<ipython-input-12-909e9c0fb6f4>, line 4)

In [13]:
# double check the target distribution
print(get_target_dist(train_df))

NameError: name 'train_df' is not defined

In [ ]:
# better approach: randomly sample the entire dataset, not just take the first n rows
filename = 'data/application_train.csv'
train_df = pd.read_csv(filename)
train_df = train_df.sample(n=10000)
rows = train_df.shape[0] # total number of rows in the data
print(f'total rows: {rows}') 
print(get_target_dist(train_df))

In [ ]:
nan_cols = train_df.columns[train_df.isnull().any()] # find out columns with any null value
nan_cnt = train_df[nan_cols].isnull().sum()
print(nan_cnt)

In [ ]:
import numpy as np

y = [] # collect targets
data = [] # data (all columns except the target)

target_col = 'TARGET'
features = list([x for x in train_df.columns if x != target_col])

for row in train_df.to_dict('records'):
    y.append(row[target_col])
    data.append({k: row[k] for k in features})
    
y = np.array(y)

In [ ]:
# training-validation split
from sklearn.cross_validation import train_test_split

data_train, data_val, y_train, y_val = train_test_split(data, y, train_size=0.8, stratify=y)
print(f'data_train cnt: {len(data_train)}')
print(f'data_val cnt: {len(data_val)}')

In [ ]:
from collections import defaultdict

def get_y_dist(y):
    target2cnt = defaultdict(int)
    for yi in y:
        target2cnt[yi] += 1
    
    print('target\tcnt\tratio')
    for target in sorted(target2cnt):
        cnt = target2cnt[target]
        print(f'{target}\t{cnt}\t{cnt/len(y)}')

In [ ]:
print('target distribution in training data')
get_y_dist(y_train)

print('\ntarget distribution in validation data')
get_y_dist(y_val)

In [ ]:
from sklearn.feature_extraction import DictVectorizer

# transform list of dictionary into numpy/scipy matrix
vectorizer = DictVectorizer()
X_train = vectorizer.fit_transform(data_train)
# X usually used for data  this is the rransformed data
print(f'after vectorization: {X_train.shape}')

In [ ]:
# inspect feature names
for i, feature in enumerate(vectorizer.feature_names_):
    print(f'{i}\t{feature}')

In [ ]:
from sklearn.preprocessing import Imputer
from sklearn.preprocessing import MaxAbsScaler

# for each feature, fill in nan values with the mean value across all samples
imputer = Imputer(strategy='mean')
X_train = imputer.fit_transform(X_train)

# scaling data by columns so different features have roughly the same magnitude
scaler = MaxAbsScaler()
X_train = scaler.fit_transform(X_train.toarray())
print(f'X_train data type: {type(X_train)}')
print(f'X_train: {X_train.shape})')

In [ ]:
# IMPORTANT: use the same set of preprocessors (vectorizer, imputer, and scaler) to transform the validation/test data
X_val = vectorizer.transform(data_val)
X_val = imputer.transform(X_val)
X_val = scaler.transform(X_val)
print(f'X_val data type: {type(X_val)}')
print(f'X_val: {X_val.shape})')

### Model training

In [ ]:
from sklearn.linear_model import LogisticRegression
import time

# fit model
model = LogisticRegression(class_weight='balanced')

start = time.time()
print(f'Fitting model on {X_train.shape[0]} samples...')
model.fit(X_train, y_train)

end = time.time()
print('Finished model training in %.3f seconds.' % (end-start))

In [ ]:
def get_sample_weights(y):
    weights = []
    for yi in y:
        weights.append(10 if yi else 1)
    return np.array(weights)

from sklearn.linear_model import LogisticRegression
import time

# fit model
model = LogisticRegression()

start = time.time()
print(f'Fitting model on {X_train.shape[0]} samples...')
model.fit(X_train, y_train, sample_weight=get_sample_weights(y_train))

end = time.time()
print('Finished model training in %.3f seconds.' % (end-start))

### Model evaluation

The competition uses the area under ROC curve for evaluation, see https://www.kaggle.com/c/home-credit-default-risk#evaluation.

<img src='validation.png' width='100%'>

In [ ]:
# perform your trained model on test data to get predictions
y_preds = model.predict(X_val)

In [ ]:
for i, y_pred in enumerate(y_preds):
    y_true = y_val[i]
    print(f'i\ty_pred: {y_pred}, y_true: {y_true}')

In [ ]:
from sklearn.metrics import classification_report

print(classification_report(y_true=y_val, y_pred=y_preds, labels=[0, 1], target_names=['NO', 'YES']))

In [ ]:
def evaluate(X_val, y_val):
    from sklearn.metrics import roc_curve, roc_auc_score, auc
    pos_idx = list(model.classes_).index(1)
    # compute area under ROC
    # we need probabilities to do this
    print(X_val.shape, model.predict_proba(X_val).shape, pos_idx)
    y_score = model.predict_proba(X_val)[:,pos_idx]
    print(y_score.shape)
    fpr, tpr, _ = roc_curve(y_val, y_score, pos_label=1)
    roc_auc = roc_auc_score(y_val, y_score)
#     print(f'auc: {auc}')
    
    return roc_auc, fpr, tpr

In [ ]:
print(X_val.shape)
print(y_val.shape)
roc_auc, fpr, tpr = evaluate(X_val, y_val)

In [ ]:
import matplotlib.pyplot as plt
lw = 2
plt.plot(fpr, tpr, color='darkorange',
         lw=lw, label='ROC curve (area = %0.2f)' % roc_auc)
plt.plot([0, 1], [0, 1], color='navy', lw=lw, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver operating characteristic example')
plt.legend(loc="lower right")

### Cross validation

To get a more reliable performance evaluation of your model, you need to repeat the above random train-test split multiple times and average the performance across different splits. This is called **cross-validation**.

The convention is to perform 5-fold or 10-fold cross-validation.

<hr></hr>

**Do we need more samples?**

Previously, we just sampled 10000 samples from the entire `application_train.csv` dataset, and there's a chance we didn't have enough data to train the model.

Offline practice: See how more training data will affect the overall performance.

<hr></hr>

### Model tuning

- **Hyper-parameter tuning**: pick a model and try different model hyper-parameters and pick the set of parameters with the best validation score
  
  **Example**: http://scikit-learn.org/stable/auto_examples/model_selection/plot_randomized_search.html#sphx-glr-auto-examples-model-selection-plot-randomized-search-py
  
- Try different models

<hr></hr>

## Attempt2

What if we use some of the other information provided?

### Data preparation: multiple datasets

In [1]:
prev_app_filename = 'data/previous_application.csv'
prev_app_df = pd.read_csv(prev_app_filename)
prev_app_df.head(20) # print out the first 20 rows

NameError: name 'pd' is not defined

In [ ]:
filename = 'data/HomeCredit_columns_description.csv'
desc_df = pd.read_csv(filename, encoding = "ISO-8859-1")
desc_df[desc_df['Table'] == 'previous_application.csv']

In [ ]:
# since it is a 1-N mapping between `SK_ID_CURR` and `SK_ID_PREV`, 
# we need to find a way to encode those variable number of corresponding 
# previous applications for a given current application.

# one way to do this is by aggregating
prev_agg = prev_app_df.groupby('SK_ID_CURR')
prev_df = prev_agg.agg({'SK_ID_PREV': 'count', 'AMT_ANNUITY': 'sum'}).rename(columns={
    'SK_ID_PREV': 'PREV_APPS', 'AMT_ANNUITY': 'PREV_AMT_ANNUITY'})

In [ ]:
prev_df.head(20)

In [ ]:
curr_prev_df = train_df.fillna(value=train_df.mean()).join(prev_df, on='SK_ID_CURR', how='left')
curr_prev_df[['PREV_APPS', 'PREV_AMT_ANNUITY']] = curr_prev_df[['PREV_APPS', 'PREV_AMT_ANNUITY']].fillna(value=0)
print(curr_prev_df.shape[0])
curr_prev_df

In [ ]:
filename = 'data/bureau.csv'
bureau_df = pd.read_csv(filename)
active_bureau_df = bureau_df[bureau_df['CREDIT_ACTIVE']=='Active']
active_bureau_df

In [ ]:
active_bureau_agg = active_bureau_df.groupby('SK_ID_CURR')
active_bureau_agg_df = active_bureau_agg.agg({'AMT_CREDIT_SUM_DEBT': 'sum', 'CNT_CREDIT_PROLONG': 'sum'})
active_bureau_agg_df

In [ ]:
df = curr_prev_df.join(active_bureau_agg_df, on='SK_ID_CURR', how='left')
df[['AMT_CREDIT_SUM_DEBT', 'CNT_CREDIT_PROLONG']] = df[['AMT_CREDIT_SUM_DEBT', 'CNT_CREDIT_PROLONG']].fillna(value=0)
print(df.shape[0])
df.shape

In [ ]:
df

# Model deployment

In reality, we would want to build an API to do near-real-time prediction. However, for Kaggle, it's sufficient to just save your model, scaler, and vectorizer as binary files so you can load them again in later time to do prediction.

This is usually done by using Python's pickle module or Sklearn's wrapper around it.

More information: http://scikit-learn.org/stable/modules/model_persistence.html

In [ ]:
import pickle
from sklearn.externals import joblib

# saving binary files
joblib.dump(model, 'model')
joblib.dump(scaler, 'scaler')
joblib.dump(vectorizer, 'vectorizer')


# loading binary files
model = joblib.load('model')
scaler = joblib.load('scaler')
vectorizer = joblib.load('vectorizer')